# fly.toml app configuration file generated for 100end on 2025-11-25T15:45:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = '100end'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8888
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
